# Pandas Demo

In [ ]:
import pandas as pd

### Explanation
- `import pandas as pd` imports the pandas library and gives it the alias `pd`.
- Pandas is a powerful Python library for data manipulation and analysis.

## Create a simple Series

In [ ]:
s = pd.Series([10, 20, 30, 40])

print(s)

### Explanation
- `s = pd.Series([10, 20, 30, 40])` creates a pandas Series object with four integer values.
- A Series is a one-dimensional labeled array capable of holding any data type.
- `print(s)` displays the contents of the Series in the output.

## Create a DataFrame

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['London', 'Paris', 'Berlin']
}

df = pd.DataFrame(data)
print(df)

### Explanation
- The `data` dictionary contains three keys: 'Name', 'Age', and 'City', each with a list of values.
- `df = pd.DataFrame(data)` creates a pandas DataFrame from the dictionary, organizing the data into columns.
- `print(df)` displays the DataFrame, showing the tabular structure.

## Load a CSV file into a dataframe

In [ ]:
df = pd.read_csv('data.csv')

# Display the first few rows of the dataframe
df.head()

### Explanation
- `df = pd.read_csv('data.csv')` loads data from the CSV file named 'data.csv' into a pandas DataFrame.
- `df.head()` displays the first five rows of the DataFrame, giving a quick overview of the data.

## Display the dataframe info

In [ ]:
df = pd.read_csv('data.csv')

print(f"head():\n {df.head()}\n")           # First 5 rows

#print(f"tail():\n {df.tail()}\n")           # Last 5 rows

#print(f"shape:\n {df.shape}\n")             # (rows, columns)

#print(f"columns:\n {df.columns}\n")         # Column names

#print(f"describe():\n {df.describe()}\n")   # Statistics summary

#print(df.info())                            # Summary info

### Explanation
- `df = pd.read_csv('data.csv')` loads the CSV file into a DataFrame.
- The commented lines show useful DataFrame methods:
  - `df.head()` displays the first five rows.
  - `df.tail()` displays the last five rows.
  - `df.shape` returns the dimensions of the DataFrame (rows, columns).

## Display a single column

In [ ]:
df['Sales']

### Explanation
- `df['Sales']` selects and displays the 'Sales' column from the DataFrame.
- This is useful for analyzing or visualizing a single variable.

## Display multiple columns

In [ ]:
df[['Sales', 'Profit']]

### Explanation
- `df[['Sales', 'Profit']]` selects and displays both 'Sales' and 'Profit' columns.
- This allows you to compare multiple variables side by side.

## Display row by location

In [ ]:
row = df.loc[[4,5],['Product_Name']]
row

### Explanation
- `df.loc[[4,5],['Product_Name']]` selects rows 4 and 5 and only the 'Product_Name' column.
- `.loc` is used for label-based indexing of rows and columns.

## Display multiple rows by location

In [ ]:
subset = df.iloc[:3]
subset

### Explanation
- `df.iloc[:3]` selects the first three rows of the DataFrame.
- `.iloc` is used for integer-based indexing.

## Filter dataframe

In [ ]:
high_sales = df[df['Sales'] > 3000]
high_sales

### Explanation
- `df[df['Sales'] > 3000]` filters the DataFrame to show only rows where 'Sales' is greater than 3000.
- This is useful for focusing on high-value sales data.

## Filter dataframe with multiple arguments

In [ ]:
high_sales_profit = df[(df['Sales'] > 3000) & (df['Profit'] > 400)]
high_sales_profit

### Explanation
- `df[(df['Sales'] > 3000) & (df['Profit'] > 400)]` filters rows where both 'Sales' > 3000 and 'Profit' > 400.
- The `&` operator combines multiple conditions.

## Add a column to the dataset

In [ ]:
df['Cost'] = df['Sales'] - df['Profit']
df.head()

### Explanation
- `df['Cost'] = df['Sales'] - df['Profit']` creates a new column 'Cost' by subtracting 'Profit' from 'Sales'.
- This helps analyze the cost associated with each sale.

## Manipulate existing data

In [ ]:
df['Sales'] = df['Sales'] * 0.5
df

### Explanation
- `df['Sales'] = df['Sales'] * 0.5` updates the 'Sales' column by multiplying each value by 0.5.
- This could represent a discount or adjustment to sales figures.

## Remove a column from the dataset

In [ ]:
df_without_cost = df.drop(columns=['Cost'])
df_without_cost

### Explanation
- `df.drop(columns=['Cost'])` removes the 'Cost' column from the DataFrame.
- Useful for simplifying the dataset or removing unnecessary data.

## Rename a column

In [ ]:
df_renamed = df.rename(columns={'Sales': 'Total_Sales'})
df_renamed

### Explanation
- `df.rename(columns={'Sales': 'Total_Sales'})` renames the 'Sales' column to 'Total_Sales'.
- Renaming columns can make the dataset more readable or match specific requirements.

## Rename multiple columns

In [ ]:
df_renamed_multiple = df.rename(columns={'Sales': 'Total_sales', 'Profit': 'Net_Profit'})
df_renamed_multiple

### Explanation
- `df.rename(columns={'Sales': 'Total_sales', 'Profit': 'Net_Profit'})` renames both 'Sales' and 'Profit' columns.
- This is useful for customizing column names for clarity or specific requirements.

## Use built in Pandas functions

In [ ]:
df_region_sales = df.groupby('Region')['Sales'].sum()
df_region_sales

### Explanation
- `df.groupby('Region')['Sales'].sum()` groups the data by 'Region' and calculates the total sales for each region.
- Grouping and aggregation are powerful tools for summarizing data.

## Aggregate data

In [ ]:
aggregrate_sales = df.groupby('Region')['Sales'].agg(['sum', 'mean', 'count'])
aggregrate_sales

### Explanation
- `df.groupby('Region')['Sales'].agg(['sum', 'mean', 'count'])` computes sum, mean, and count of sales for each region.
- This provides a more detailed summary of the data.

## Check for missing data

In [ ]:
df.isnull().sum()

### Explanation
- `df.isnull().sum()` counts the number of missing (null) values in each column.
- This helps identify columns that may need cleaning or imputation.

## Replace missing data

In [ ]:
a = df.select_dtypes('number')

b = df.select_dtypes('object')

df[a.columns] = a.fillna(a.mean())

df[b.columns] = b.fillna(b.agg(lambda x: x.mode().values[0]))

df

### Explanation
- `df.select_dtypes('number')` selects numeric columns; `df.select_dtypes('object')` selects object (string) columns.
- Numeric columns are filled with their mean value; object columns are filled with their mode (most frequent value).
- This process helps clean the dataset by handling missing values.

## Re-check for missing data

In [ ]:
df.isnull().sum()

### Explanation
- `df.isnull().sum()` is run again to confirm that missing values have been handled.
- A result of zero means all missing data has been filled.

## Export dataset to a csv file

In [ ]:
df.to_csv('clean_data.csv', index=False)

### Explanation
- `df.to_csv('clean_data.csv', index=False)` saves the cleaned DataFrame to a new CSV file named 'clean_data.csv'.
- `index=False` ensures row indices are not included in the output file.